<h1>Register Now!
  <span>Discover All of Today's Hot New Music with The eMusic Catalog.</span>
</h1>

<form action="<%= users_url %>" method="post">
  
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
  >

  <label for="user_email">Enter Your Email:</label>
  <input type="text" name="user[email]" id="user_email">
  <br>
  <label for="user_password">Enter Your Password:</label>
  <input type="password" name="user[password]" id="user_password">
  <br>
  <!-- refactor this code with appropriate Rails worthy stuff -->
  <label for="verify_password">Verify Your Password:</label>
  <input type="password" name="user[password2]" id="verify_password">
  <!-- -->
  <br>
  <button>Register Now!</button>
</form>