<h1>Register Now to Discover All of Today's Hot New Music</h1>

<form action="<%= users_url %>" method="post">
  
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user-email">Enter Your Email:</label>
  <input type="text" name="user_params[email]" value="" id="user-email">

  <label for="user-password">Enter Your Password:</label>
  <input type="password" name="user_params[password]" value="" id="user-password">
  
  <!-- refactor this code with appropriate Rails worthy stuff -->
  <label for="verify-password">Verify Your Password:</label>
  <input type="password" name="user_params[password2]" value="" id="verify-password">
  <!-- -->
  
  <button>Register Now!</button>
</form>