<h1>Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <li><a href="<%= album_url(album.id) %>"><% album.name %></a></li>
  <% end %>
</ul>

<a href="<%= new_band_album_url(album.band) %>">Add An Album</a>